#dome16 {
    text-align: center;
    border-radius: 10px;
    background-color: #717171;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    height: 70vh !important;
}

#tres16 {
    padding-top: 2%;
}