#dome15 {
    text-align: center;
    border-radius: 10px;
    background-color: #717171;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    height: 130vh !important;
}

#pfp15 {
    padding: 2%;
    width: 80vw;
}

#tres15 {
    padding-top: 2%;
}